
projetos/
avasae/.idea/misc.xml
avasae/.idea/.name
avasae/.idea/avasae.iml
avasae/.idea/inspectionProfiles/profiles_settings.xml
avasae/.idea/modules.xml
avasae/.idea/workspace.xml
avasae/.idea/vcs.xml
